server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Orbital-Logistics/configuration.git
          username: ${CONFIG_USERNAME}
          password: ${CONFIG_TOKEN}
          default-label: bakhilin-patch-1
          search-paths: "{application}"